<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Bar.png</key>
            <dict>
                <key>frame</key>
                <string>{{1002,2},{139,9}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{139,9}}</string>
                <key>sourceSize</key>
                <string>{139,9}</string>
            </dict>
            <key>BarBg.png</key>
            <dict>
                <key>frame</key>
                <string>{{966,2},{176,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{176,34}}</string>
                <key>sourceSize</key>
                <string>{176,34}</string>
            </dict>
            <key>Bg1.png</key>
            <dict>
                <key>frame</key>
                <string>{{484,2},{3198,480}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,0},{3198,480}}</string>
                <key>sourceSize</key>
                <string>{3200,480}</string>
            </dict>
            <key>Bg2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{3200,480}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{3200,480}}</string>
                <key>sourceSize</key>
                <string>{3200,480}</string>
            </dict>
            <key>bajie_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{344,3506},{74,69}}</string>
                <key>offset</key>
                <string>{-12,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,3},{74,69}}</string>
                <key>sourceSize</key>
                <string>{98,75}</string>
            </dict>
            <key>bajie_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{85,3508},{74,73}}</string>
                <key>offset</key>
                <string>{-8,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,1},{74,73}}</string>
                <key>sourceSize</key>
                <string>{98,75}</string>
            </dict>
            <key>bajie_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{415,3433},{74,75}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{13,0},{74,75}}</string>
                <key>sourceSize</key>
                <string>{98,75}</string>
            </dict>
            <key>bajie_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{461,3356},{82,75}}</string>
                <key>offset</key>
                <string>{6,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,0},{82,75}}</string>
                <key>sourceSize</key>
                <string>{98,75}</string>
            </dict>
            <key>bajie_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{874,3279},{84,73}}</string>
                <key>offset</key>
                <string>{7,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,1},{84,73}}</string>
                <key>sourceSize</key>
                <string>{98,75}</string>
            </dict>
            <key>bajie_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{574,3354},{82,75}}</string>
                <key>offset</key>
                <string>{6,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,0},{82,75}}</string>
                <key>sourceSize</key>
                <string>{98,75}</string>
            </dict>
            <key>bajie_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{545,3431},{74,75}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{13,0},{74,75}}</string>
                <key>sourceSize</key>
                <string>{98,75}</string>
            </dict>
            <key>bajie_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{268,3506},{74,73}}</string>
                <key>offset</key>
                <string>{-8,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,1},{74,73}}</string>
                <key>sourceSize</key>
                <string>{98,75}</string>
            </dict>
            <key>shaseng_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{361,3279},{111,71}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,2},{111,71}}</string>
                <key>sourceSize</key>
                <string>{121,75}</string>
            </dict>
            <key>shaseng_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{244,3279},{115,73}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,1},{115,73}}</string>
                <key>sourceSize</key>
                <string>{121,75}</string>
            </dict>
            <key>shaseng_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{123,3204},{119,75}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{119,75}}</string>
                <key>sourceSize</key>
                <string>{121,75}</string>
            </dict>
            <key>shaseng_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{607,3202},{121,75}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{121,75}}</string>
                <key>sourceSize</key>
                <string>{121,75}</string>
            </dict>
            <key>shaseng_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,3204},{119,75}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{119,75}}</string>
                <key>sourceSize</key>
                <string>{121,75}</string>
            </dict>
            <key>shaseng_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{363,3204},{117,73}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{117,73}}</string>
                <key>sourceSize</key>
                <string>{121,75}</string>
            </dict>
            <key>shaseng_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{117,3281},{113,73}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,1},{113,73}}</string>
                <key>sourceSize</key>
                <string>{121,75}</string>
            </dict>
            <key>shaseng_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{244,3204},{117,73}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{117,73}}</string>
                <key>sourceSize</key>
                <string>{121,75}</string>
            </dict>
            <key>shaseng_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{851,3202},{119,75}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{119,75}}</string>
                <key>sourceSize</key>
                <string>{121,75}</string>
            </dict>
            <key>shaseng_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{484,3202},{121,75}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{121,75}}</string>
                <key>sourceSize</key>
                <string>{121,75}</string>
            </dict>
            <key>shaseng_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{730,3202},{119,75}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{119,75}}</string>
                <key>sourceSize</key>
                <string>{121,75}</string>
            </dict>
            <key>shaseng_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,3281},{113,73}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,1},{113,73}}</string>
                <key>sourceSize</key>
                <string>{121,75}</string>
            </dict>
            <key>tangseng_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{907,3354},{81,75}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{81,75}}</string>
                <key>sourceSize</key>
                <string>{83,75}</string>
            </dict>
            <key>tangseng_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{824,3354},{81,75}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{81,75}}</string>
                <key>sourceSize</key>
                <string>{83,75}</string>
            </dict>
            <key>tangseng_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{741,3354},{81,75}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{81,75}}</string>
                <key>sourceSize</key>
                <string>{83,75}</string>
            </dict>
            <key>tangseng_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{658,3354},{81,75}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{81,75}}</string>
                <key>sourceSize</key>
                <string>{83,75}</string>
            </dict>
            <key>tangseng_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{185,3431},{81,75}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{81,75}}</string>
                <key>sourceSize</key>
                <string>{83,75}</string>
            </dict>
            <key>tangseng_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,3433},{81,75}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{81,75}}</string>
                <key>sourceSize</key>
                <string>{83,75}</string>
            </dict>
            <key>tangseng_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{102,3431},{81,75}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{81,75}}</string>
                <key>sourceSize</key>
                <string>{83,75}</string>
            </dict>
            <key>tangseng_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{332,3429},{81,75}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{81,75}}</string>
                <key>sourceSize</key>
                <string>{83,75}</string>
            </dict>
            <key>wukong_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{774,3279},{98,73}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{98,73}}</string>
                <key>sourceSize</key>
                <string>{98,75}</string>
            </dict>
            <key>wukong_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{674,3279},{98,73}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{98,73}}</string>
                <key>sourceSize</key>
                <string>{98,75}</string>
            </dict>
            <key>wukong_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,3356},{98,75}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{98,75}}</string>
                <key>sourceSize</key>
                <string>{98,75}</string>
            </dict>
            <key>wukong_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{232,3354},{98,75}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{98,75}}</string>
                <key>sourceSize</key>
                <string>{98,75}</string>
            </dict>
            <key>wukong_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{574,3279},{98,73}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{98,73}}</string>
                <key>sourceSize</key>
                <string>{98,75}</string>
            </dict>
            <key>wukong_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{361,3352},{98,75}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{98,75}}</string>
                <key>sourceSize</key>
                <string>{98,75}</string>
            </dict>
            <key>wukong_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{474,3279},{98,75}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{98,75}}</string>
                <key>sourceSize</key>
                <string>{98,75}</string>
            </dict>
            <key>wukong_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{102,3356},{98,73}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{98,73}}</string>
                <key>sourceSize</key>
                <string>{98,75}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>Logo.png</string>
            <key>size</key>
            <string>{1013,3583}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:e17ee3c65a89251407dc682ad6d9ba97$</string>
            <key>textureFileName</key>
            <string>Logo.png</string>
        </dict>
    </dict>
</plist>
